<!DOCTYPE html>
<html>
  
    <head>
        <link href="style.css" type="text/css" rel="stylesheet">    
        <title>FIFA World Cup</title>
        <meta name="description" content="You can find almost all information of FIFA world cup.">
        <meta name="keywords" content="FIFA,world cup ,world cup champions,football">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="author" content="SRM">
        <meta http-equiv="content-language" content="en">
       
  </head>
    <body>
        
        <h2 id="back">PLAYER ATTRIBUTES :</h2>
        <img src="../static/images/PlayerAttribute.png"style="width:600px;height:500px;"> 
        <img src="../static/images/PlayersAge.png"  align="right" style="width:600px;height:500px;" > 
      
 
          
           <hr>
      
       </body>
</html>